* {
  margin: 0;
  padding: 0;
  font-style: Arial;
  border: border-box;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav_logo {
  height: 50px;
  width: 100px;
}

.logo {
  background-image: url("amazon_logo.png");
  height: 50px;
  width: 100%;
  background-size: cover;
}

.border {
  border: 2px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
}

.address1 {
  color: #cccccc;
  font-size: 1rem;
  margin-left: 15px;
}

.add2 {
  color: #cccccc;
}

.add_icon {
  display: flex;
  align-items: center;
  margin-left: 3px;
}

.nav_search {
  display: flex;
  height: 40px;
  width: 620px;
  border-radius: 4px;
  justify-content: space-evenly;
}

.select {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
}

.input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.icon_search {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  background-color: rgb(255, 174, 0);
  color: #0f1111;
}

.nav_search:hover {
  border: 2px solid orange;
}

span {
  font-size: 0.7rem;
}

.n2 {
  font-size: 0.85rem;
  font-weight: 700;
}

.cart i {
  font-size: 30px;
}

.cart {
  font-size: 0.85rem;
  font-weight: 700;
}

.pannel {
  height: 40px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}

.panel_op p {
  display: inline;
  margin-left: 15px;
}

.panel_op {
  width: 70%;
  font-size: 0.85rem;
}

.panel_deals {
  font-size: 0.9rem;
  font-weight: 700;
}

.hero {
  background-image: url("hero_image.jpg");
  height: 380px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero_msg {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  width: 80%;
  height: 40px;
  margin-bottom: 25px;
}

.hero_msg a {
  color: #007185;
}

.shop_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}

.box {
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 15px;
}

.box_img {
  height: 300px;
  background-size: contain;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.box_content {
  margin-left: 1rem;
  margin-right: 1rem;
}
.box_content p {
  color: #007185;
}

/* footer */

.footer {
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
  margin-top: 15px;
}

.footer2 {
  display: flex;
  background-color: #222f3d;
  color: white;
  height: 300px;
  align-items: center;
  justify-content: space-evenly;
}

ul a {
  display: block;
  font-size: 0.85rem;
  margin-top: 10px;
  color: #dddddd;
}

.footer3 {
  background-color: #222f3d;
  border-top: 1px solid white;
  color: white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo2 {
  background-image: url("amazon_logo.png");
  height: 50px;
  width: 100px;
  background-size: cover;
}

.footer4 {
  background-color: #0f1111;
  color: white;
  height: 80px;
  font-size: 0.7rem;
  text-align: center;
}

.page {
  padding-top: 25px;
}

.copyright {
  padding-top: 5px;
}
